.item1 {
  background-color: #008cbf;
  grid-column: 1;
  grid-row: 3;
  color: var(--on-primary);

  @media screen and (max-width: 540px) {
    grid-column: 6;
  }
}

.item2 {
  background-color: blue;
  grid-column: 11;
  grid-row: 2;

  @media screen and (max-width: 720px) {
    grid-column: 7;
  }

  @media screen and (max-width: 540px) {
    grid-column: 5;
  }
}