@import "./theme.scss";

body,
html {
  margin: 0;
  height: 100%;
}

.margin-bottom-1 {
  margin-bottom: var(--space-1);
}

.margin-bottom-2 {
  margin-bottom: var(--space-2);
}

.margin-bottom-8 {
  margin-bottom: var(--space-8);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-justify-center {
  display: flex;
  justify-content: center;
}

.flex-row-align-center {
  display: flex;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}