@import "./normalize.css";
@import "./reset.css";

@font-face {
  font-family: Roboto-Regular;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

:root {
  --primary-500: #34623F;
  --primary-600: #2F5A39;
  --primary-700: #275031;
  --text-on-primary: #FFFFFF;

  --accent-500: #1B5299;
  --accent-600: #184b91;
  --accent-700: #144186;
  --text-on-accent: #FFFFFF;

  --error-500: #94251b;

  --text: #000000;
  --text-subdued: #666666;
  --border: #999999;

  --space-0: 0rem;
  --space-025: 0.0625rem;
  --space-05: 0.125rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-28: 7rem;
  --space-32: 8rem;
}